<!DOCTYPE html>
<html>
<head>
<style>
	*{ box-sizing: border-box;
	}
	
	#title1{
		background-color: #FFB6C1;
		position: top right;
		border: 3px solid black;
		width: 100px;
		text-align: center;
		position: relative;
		top: 25px;
		left: 228px;
	}
	#title2{
		background-color: #DC143C;
		position: top right;
		border: 3px solid black;
		width: 100px;
		text-align: center;
		position: relative;
		top: 25px;
		left: 228px;
	}
	#title3{
		background-color: #F0E68C;
		position: top right;
		border: 3px solid black;
		width: 100px;
		text-align: center;
		position: relative;
		top: 25px;
		left: 228px;
	}
	#box {
		background-color :#C0C0C0;
		font-family: Arial, Helvetica, sans-serif;
		padding: 40px 15px 15px 15px;
		border :3px solid black;
		width:33%;
		
		
			}

	section {
		position: relative;
	}

</style>
</head>
<body>
</body>
</html>